@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
*{
  /* font-family: 'Sabon LT Pro',"Roboto", sans-serif ; */
  padding: 0;
  margin: 0;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif !important;
  }
header {
    padding: 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }

.header_bar{
    animation: blinker 1.5s linear infinite;
    padding: 10px;
    text-align: center;
    background: #20445d;
    color: aliceblue;
    line-height: 1;
    width: 100vw;
  }
  
.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 70s;
    display: flex;
    justify-content: flex-start;
  }

@keyframes scroll {
0% {
  transform: translateX(100%);
}
100% {
  transform: translateX(-100%);
}
}
.main_header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff; /* Adjust the background color as needed */
  z-index: 1000; /* Ensure the header is above other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}
nav{
    background-color: #ffffff;
    color: rgb(3, 2, 65);
    display: flex;
    align-items: center;
    padding: 5px 5rem;
    font-family: 'Protest Riotte', sans-serif;
    border-bottom: 1px solid #d1c5c5;
}
.menu-list li{
    list-style-type: none;
    margin: 0 38px;
}   
.menu-list ul{
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  margin-left: 47px;
}
.menu-list li,a{
  text-decoration: none;
  color:  rgb(3, 2, 65);
}
.menu-list a:hover{
  text-decoration: none;
  color: brown;
  transform: scale(1);
}
.fa {
  padding: 10px;
  font-size: 35px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0px;
  height:10px;
}
.fa-twitter, .fa-instagram, .fa-pinterest{
  color: rgb(3, 2, 65);
}
.social-icons {
  border-right: 1px solid #cbc5c5;
  font-size: 20px;
  height: 50px;
}
i.fa-shopping-cart{
  font-size: 30px;
  color: rgb(25, 19, 97);
  position: relative;
  bottom: 12px;
}
/******collection*****/
/* .collection{
  padding: 80px 15px 0px 15px;
} */
h2.collection-heading {
  text-align: center;
  margin: 35px 0px;
  color: #24435d;
  font-family: 'Sabon LT Pro';
  font-size: 53px;
  font-weight: 500;
}
.collection-container{
  display: flex;
  justify-content: space-between;
  padding: 30px 2.8rem;
  background-color: #eee5e1;
  font-family: 'Sabon LT Pro'
}
.coll .text{
  text-align: center;
  color: #24435d;
  font-family: 'Sabon LT Pro';
  font-size: 28px;
  margin-top: 30px;
  font-weight: 400;
}
.coll-img {
  opacity: 1;
  display: block;
  transition: opacity 0.5s ease, transform 0.5s ease;
  backface-visibility: hidden;
  position: relative;
}

.middle {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) translateZ(0); /* Add translateZ(0) to promote layer */
  text-align: center;
  z-index: 2;
}
.coll:hover .coll-img {
  opacity: 0.8;
  transform: scale(1.1);
}
.coll:hover .middle{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1) translateZ(0); /* Add translateZ(0) to promote layer */
}
.shop1 {
  background-color: #072b42;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity: 1;
  border-radius: 5px;
  cursor: pointer;
}
.shop1:hover{
  border: 2px solid #072b42;;
  background: #ffffff;
  color: #072b42;
  font-weight: bold;
  cursor: pointer;
}
/***As seen in**/
.asseein{
  padding: 50px 0px;
}
.seen_icons{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.seen-heading{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 45px 0px;
  color: #24435d;
  font-family: 'Sabon LT Pro';
  font-size: 45px;
  font-weight: 500;
}
.icons_list li{
  list-style-type: none;
  margin: 0px 45px;
}
.icons_list ul{
  display: flex;
  list-style-type: none;
  justify-content: center;
}
/***email***/
.subscribe{
  background-color: #f6f2f0;
  padding: 70px 0px;
  margin: 5rem 0;
}
.row{
  display: flex;
  align-items: center;
  margin: 3px 15rem;
}
.subscribe_wrapper label {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #bc6a30;
  font-family: 'Roboto';
  font-size: 20px;
}
.subscribe_wrapper h2{
  font-family: 'Sabon LT Pro';
  font-size: 23px;
  color: #24435d;
  padding-top: 16px;
  font-weight: 100;
}
.subscribe_text {
  position: relative;
  width: 50%;
}
input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 15px;
}
.sub_btn{
  border: 1px solid #bc6a30;
  letter-spacing: 1.5px;
  color: #bc6a30;
  font-size: 15px;
  text-transform: capitalize !important;
  padding: 8px 15px;
  text-align: center;
}
.sub_btn:hover{
  color: white;
  background-color: #bc6a30;
}
/***footer***/
footer{
  background-color: #eee5e1;
  padding: 60px 0px 15px 0px;
}
footer h2 {
  text-align: center;
  font-family: "Corinthia", cursive;
  color: #24435d;
  margin-bottom: 35px;
  font-size: 65px;
  font-weight: 400;
}
.footer-container{
  padding: 0px 40px !important;
}
.footer-container ul{
  list-style: none;
}
.footer-container li{
  padding-top: 15px;
  color: #24435d;
}
.footer_info{
  display: flex;
  justify-content: space-between;
}
.footer-container h3{
  color: #24435d;
}
.spread h3,p{
  color: #24435d;
}
.footer_info .social-icons{
  font-size: 30px;
}
.spread p{
  padding-top: 15px;
}